
/*----------projects----------*/
.projects{
    display: grid;
}

.image img{
    width: 350px;

    

}
.row{
    display: flex;
    flex-wrap: wrap;
    overflow-x:hidden ;
}
.column{
    flex: 10%;
    padding: 5px;
}
.column img{
    margin-top: 5px;
}

@media screen and (min-width:728px) {
.column{
 
    padding: 5px;
}
.image img{
    width: 100%;

    

}
}
@media screen and (min-width:1024px) {
.row{
    flex-wrap: nowrap;

}
.image img{
    width: 600px;
    justify-content: center;
}
.column{
    flex: 100%;
    padding: 5px;
}


}