.ir{
    text-decoration: none;
    color: white;
    background-color: #8232D1;
    font-weight: 500;
    font-size: 1.5em;
    padding: 0 20px;
    border-radius: 20px;
}
.cards > div{
    position: relative;
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 20px;
    z-index: 1;
    overflow: hidden;
    display: grid;
    margin: 80px;
   
}
.card{
    background: url(./figma.svg) no-repeat;
}
.card-two{
    background: url(./DuaLipa.png) no-repeat;
    background-position: 20%;
    background-size:contain;
}
.card-three{
    background: url(./Forja.png) no-repeat;
    background-position: 20%;
    background-size:contain;
}

.card-four{
    background: url(./bootstrap-animalandia.png) no-repeat;
    background-position: 80%;
    background-size: cover;
}
.card-five{
    background: url(./deseignthinkingForja.png) no-repeat;
    background-position: 20%;
    background-size:contain;
}
.card-six{
    background: url(./shoesroom.svg) no-repeat;
    background-size:contain;
}
.card::before, .card::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(60%+35px);
    transition: transform .5s .25s ease-in;
    z-index: -1;

}
.card::before{
    top: 0;
    clip-path: polygon(0 0,100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}
.card::after{
    bottom: 0;
}
/*second*/
.card-two::before, .card-two::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(60%+35px);
    transition: transform .5s .25s ease-in;
    z-index: -1;

}
.card-two::before{
    top: 0;
    clip-path: polygon(0 0,100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}
.card-two::after{
    bottom: 0;
}
.card-two:hover::before, .card-two:hover::after{
    transform: translateY(0);
}
.card-two:hover .card-content{
    opacity: 1;
    transition-delay: .75s;
}

/*third*/
.card-three::before, .card-three::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(60%+35px);
    transition: transform .5s .25s ease-in;
    z-index: -1;

}
.card-three::before{
    top: 0;
    clip-path: polygon(0 0,100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}
.card-three::after{
    bottom: 0;
}
.card-three:hover::before, .card-three:hover::after{
    transform: translateY(0);
}
.card-three:hover .card-content{
    opacity: 1;
    transition-delay: .75s;
}

/*four*/
.card-four::before, .card-four::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(60%+35px);
 
    transition: transform .5s .25s ease-in;
    z-index: -1;

}
.card-four::before{
    top: 0;
    clip-path: polygon(0 0,100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}
.card-four::after{
    bottom: 0;
}
.card-four:hover::before, .card-four:hover::after{
    transform: translateY(0);
}
.card-four:hover .card-content{
    opacity: 1;
    transition-delay: .75s;
}

/*five*/
.card-five::before, .card-five::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(60%+35px);
    transition: transform .5s .25s ease-in;
    z-index: -1;

}
.card-five::before{
    top: 0;
    clip-path: polygon(0 0,100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}
.card-five::after{
    bottom: 0;
}
.card-five:hover::before, .card-five:hover::after{
    transform: translateY(0);
}
.card-five:hover .card-content{
    opacity: 1;
    transition-delay: .75s;
}


/*six*/
.card-six::before, .card-six::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(60%+35px);
    transition: transform .5s .25s ease-in;
    z-index: -1;

}
.card-six::before{
    top: 0;
    clip-path: polygon(0 0,100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}
.card-six::after{
    bottom: 0;
}
.card-six:hover::before, .card-six:hover::after{
    transform: translateY(0);
}
.card-six:hover .card-content{
    opacity: 1;
    transition-delay: .75s;
}

/*content*/
.card-content{
    text-align: center;
    margin: 18% 0;
    opacity: 0;
    transition: opacity .25s;
}
.card-title{
    color: transparent;
    -webkit-text-stroke: 2.2px black;
    font-size: 2em;
    margin: 10px;
}
.card-description{
    background-color: #081870;
    margin-bottom: 20px;
}

.card:hover::before, .card:hover::after{
    transform: translateY(0);
}
.card:hover .card-content{
    opacity: 1;
    transition-delay: .75s;
}

@media screen and (min-width:728px) {
    .cards{
        display: flex;
        flex-wrap: wrap;
       
    }
  

}

