/*----------tools----------*/
.tools{
    margin: 30px 0;
}
.tools-img{
    width: 200px;
    animation: slide-in-bck-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@keyframes slide-in-bck-left {
    0% {
      -webkit-transform: translateZ(700px) translateX(-400px);
              transform: translateZ(700px) translateX(-400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }
  
@media screen and (min-width:728px) {
    .tools-img{
        width: 350px;
    
    }
   
}
@media screen and (min-width:1024px) {
/*----------tools----------*/
.tools{
    display: flex;
}
.text-tool{
    margin: 120px 50px;
}
.tools-img{
    margin: 0 20px;
}
.text-about h2{
    padding: 0% 0;
}
.text-about p{
    padding: 5% 4%;
}
}
@media screen and (min-width:1440px) {
.tools-img{
    margin: 0 120px;
}
}
