
 /*HEADER*/
 header{
    display: grid;
    grid-template-areas:
    "logo"
    "items"
   ;
    
}

.logo{
    grid-area: logo;
    margin: 20px;
    justify-self: center;
}
.logo img{
   width: 90%;

}


.item{
  padding: 0.7rem;
  text-align: center;
  color: white;
  font-weight: 500;
}
.item:hover{
  color: var(--blue-baby);
}



@media screen and (min-width:728px) {
    header{
        grid-template-areas:
        "logo items";
        grid-template-columns: 25% 75%;
        
    }

    .logo{
        justify-self: left;
        display: flex;
    }
    .logo img{
        width: 100%;
 
    }
    
    .items{
        display: flex;
        justify-content:space-between ;
        justify-self: center;
       padding: 20px 0;
        
    }
}
@media screen and (min-width:1024px) {
  .logo img{
    width: 80%;

}

}